.products {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    color: rgb(219, 11, 46);
    
  }
  .product {
    border: 1px solid hsl(337, 89%, 35%);
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  .product img {
    width: 100%;
    height: auto;
   
    
  }
  .price {
    text-decoration: line-through;
    color:palevioletred;
  }
  .sale-price {
    color: rgb(141, 3, 49);
  }
  button {
    margin-top: 10px;
    color: rgb(182, 6, 88);
  }
  h1{
    color: rgb(211, 24, 55);
  }